@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.topnav {
  background-color: #333;
  overflow: hidden;
  margin: 0;
  align-items: center;

}

/* Style the links inside the navigation bar */
.topnav a {

  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  justify-content: flex-end;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnavItems {
  display: inline-block;
}

.lgoImg{

  display: block;

  border-radius: 50%;
}

body {
  background-image: url("/images/bg.png");
  background-size: cover;
  background-position: center center;
  min-height: 100vw;
  min-width: 100vw;

}

.footer {
  text-align: center;
}

.mainContainer {
  width: 75vw;
  height: 75vw;
  background-color: #3498db;
  margin: 0 auto;
  margin-top: 15%;
}

.banner{
  background-color: #04AA6D;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.articleContainer{

  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three items per row */
  gap: 10px; /* Adjust the gap between items as needed */
  /* Additional styling for the container, if needed */
  grid-auto-rows: auto; /* Automatically adjust row height based on content */
}

.article{
  flex: 1;
  flex-direction: column;
  width: auto;
  text-align: center;
  word-wrap: break-word;
  justify-content: center;
  align-items: center;
  border: dotted;
  overflow: hidden;
  margin: 20px;
  padding: 20px;
}

.description{

  height: 90px;
}

.articleTitle {
  text-align: center;
}

.articleImg {
  margin: 0 auto;
}

.formContainer{

}


.registrationForm{
  margin: 20px;
  background: saddlebrown;
  border: 20px;
  border: black;
}

.articleImg label{
  font-family: "Dubai Medium";
}

.textContainer {
  display: inline-block;
  border: 1px solid black; /* Optional: Add a border to visualize the div size */
  background: saddlebrown;
}