<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}" />
    <title th:text="${article.title}"></title>
</head>
<body>
    <div class="textContainer">
        <div class="articleTitle">
            <h1 th:text="${article.title}"></h1>
        </div>
        <div class="articleText">
            <p th:each="paragraph : ${article.content}" th:text="${paragraph.text}"></p>
        </div>

    </div>
</body>
</html>