<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>



  <title>Responsive Sidebar</title>
  <!-- Link Styles -->
  <link rel="stylesheet" th:href="@{/style.css}" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>



</head>
<body>




<div th:replace="fragments/topbar :: topbar"></div>



<div class="mainContainer">
  <div class="banner" >
    <h1>
      Banner
    </h1>
  </div>
  <div class="articleContainer">

    <div class="article" th:each="article : ${articles}">

        <div class="articleImg">
          <img th:src="@{'/images/' + ${article.articleCover}}" th:height="250" th:width="200px">
        </div>
        <div class="articleTitle">
          <a th:href="@{'/article/' + ${article.articleId}}">
            <h2 th:text="${article.title}">Title</h2>
          </a>
        </div>
        <div class="description" th:height="100">
          <p th:text="${article.content[0].text}"></p>
        </div>
      </div>





  </div>

</div>



<footer >
  <h1>fuckoff</h1>
</footer>
</body>
</html>